body {
margin: 0;
font-family: Arial;
background: black;
color: white;
overflow: hidden;
}

/* LOADING */
#loadingScreen {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}

.logo {
font-size: 40px;
margin-bottom: 20px;
}

/* BAR */
.bar {
width: 300px;
height: 25px;
background: #222;
border-radius: 10px;
position: relative;
overflow: hidden;
box-shadow: 0 0 20px lime;
}

#fill {
height: 100%;
width: 0%;
background: lime;
box-shadow: 0 0 15px lime;
transition: 0.2s;
}

#percent {
position: absolute;
width: 100%;
text-align: center;
top: 3px;
font-size: 14px;
}

/* PLAY BUTTON */
#playBtn {
margin-top: 20px;
padding: 10px 30px;
font-size: 20px;
background: lime;
border: none;
cursor: pointer;
box-shadow: 0 0 20px lime;
}

.hidden {
display: none;
}

/* LOBBY */
#lobby {
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.topLeft {
position: absolute;
top: 10px;
left: 10px;
background: rgba(0,0,0,0.5);
padding: 10px;
border-radius: 10px;
}

.center button {
padding: 20px 50px;
font-size: 30px;
background: lime;
border: none;
cursor: pointer;
}
