*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family:Arial;
    background:black;
}

/* BACKGROUND */
#background{
    position:fixed;
    inset:0;
    background:url("assets/loading.png") center/cover no-repeat;
}

/* BAR */
#loadingBar{
    position:fixed !important;

    top:0 !important;
    left:0 !important;

    width:200px !important;
    height:200px !important;

    background:red !important;
}
/* FILL */
#fill{
    width:0%;
    height:100%;

    background:linear-gradient(
        90deg,
        #ff9900,
        #ff5500,
        #ff9900
    );

    background-size:300% 100%;
    animation:glow 1s linear infinite;
}

@keyframes glow{
    0%{background-position:0%;}
    100%{background-position:300%;}
}

/* TEXT */
#text{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-size:22px;
    font-weight:bold;
}
